PORT=5173
BIND_HOST=127.0.0.1
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=pertasis
CORS_ORIGIN=https://pertanian.sistemdata.id
DIST_DIR=./dist
PUBLIC_DIR=./dist
CKAN_PROXY=1
ADMIN_USER=admin
ADMIN_PASS=GantiDenganKataSandiAman
PASS_TANAMAN_PANGAN=TanamanPangan.2026
PASS_HORTI_PERKEBUNAN=HortiPerkebunan.2026
PASS_PETERNAKAN=Peternakan.2026
PASS_PERIKANAN=Perikanan.2026
GEMINI_API_KEY=AIzaSyYourGeminiApiKeyHere
